*.swp
*.swo
*~
.*.swp
.*.swo
.*.un~
.session
*.tmp
*.log
*.pid
*.pid.lock
nvim_config/nvim/node_modules/
nvim_config/nvim/Session.vim
nvim_config/nvim/[._]*.s[a-w][a-z]
nvim_config/nvim/[._]s[a-w][a-z]
nvim_config/nvim/*.un~
nvim_config/nvim/.*.un~
zsh/.zsh_history
zsh/.zcompdump*
zsh/.zcompcache


